body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fdf6ed;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(120, 14, 14, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.selection-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #0056b3;
}

.registration-form {
    display: none;
    flex-direction: column;
}

.registration-form h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.registration-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.registration-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.registration-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: #218838;
}

@media (max-width: 480px) {
    .tab-button {
        font-size: 12px;
        padding: 8px;
    }

    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .registration-form h2 {
        font-size: 18px;
    }

    .registration-form input {
        font-size: 13px;
    }
}
